.productoslst{
    margin-left: 3rem;
    width: 90rem;
    overflow: auto;
    padding-left: 2.5rem;
    max-height: 100vh;
    border-radius: 1.2rem;
    background-color: #E9E8E8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
  }
  
  .imagen{
      border-radius: 1rem;
      width: 140px;
      height: 140px;
  }
  
  .producto{
  
      display: flex;
      margin-left: -1.5rem ;
      margin-right: 1.4rem ;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: beige;
      border-radius: 1rem;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
  }
  
  .item-content{
      /*background-color: #9230de;*/
      width: 900px;
      margin: auto;
      text-align: center;
  }