@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input{
    background: #eceaea;
    font-family: "Poppins", sans-serif;
}

/*encabezado carrito*/
.encabezadocarrito{
    background-color: #9230de;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    height: 60px;
}
.text_encabezado_carrito{
    margin-left: 2rem;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
/*carrito*/
.padre{
    /*background-color: brown;*/
    height: 792px;
    padding-left: 10rem;
    padding-right: 10rem;
}
.carrito{
    font-size: 24px;
    background-color: rgb(213, 218, 218);
    margin-top: 1rem;
    overflow: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    height: 600px;
    border-radius: 1rem;
}
.item{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: beige;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}
.imagen{
    border-radius: 1rem;
    width: 140px;
    height: 140px;
}
.item-content{
    /*background-color: #9230de;*/
    width: 900px;
    margin: auto;
    text-align: center;
}
.borrar-producto{
    margin: auto;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;padding: 0px 8px;
}
.preciototal{
    font-size: 40px;
}
/*boton pagar*/
.pagar {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 30px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}  
.pagar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0cad2f;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}   
.pagar:hover {
    color: #e8e8e8;
}   
.pagar:hover::before {
    width: 100%;
} 

