@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input{
    font-family: "Poppins", sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    background-color: #9230DE;
    color: white;
  }

.nav_opciones{
    margin: 0;
    list-style: none;
    display: flex;
}

.nav_form{
    padding: 0;
    margin: 0%;
    display: flex;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}

.nav_form #nav_busq{
    width: 25rem;
    height: 2.2rem;
    padding: 15px;
    border: none;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}


.nav_form #nav_btnbusq{
    height: 2.2rem;
    width: 3rem;
    border: none;
    color: white;
    background-color: #ED24FE;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
}

.nav_opciones li {
    cursor: pointer;
    padding: 0px 20px;
}

.nav_opciones li:hover {
    color: rgb(183, 180, 180);
    cursor: pointer;
    padding: 0px 20px;
}


.invopciones{
    display: none;
}

.contopciones{
    display: block;
    position: absolute;
    margin-top: 2.8rem;
    width: 13rem;
    height: 9rem;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
    color: black;
}

.contopciones ul li{
    list-style:none;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.contopciones ul li:hover{
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    background-color: #a1a1a1;
}

.contopciones ul li i{
    padding-right: 15px;
}

a{
    text-decoration: none;
    color: black 
}

a:visited{ 
    color: black 
}

.logo2{
    font-weight: 600;
    font-size: 1rem;
}

.logo2:hover{
    cursor: pointer;
}