@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body, input{
    background: #eceaea;
    font-family: "Poppins", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    background-color: #9230DE;
    color: white;
  }

.nav_opciones{
    margin: 0;
    list-style: none;
    display: flex;
}

.nav_form{
    padding: 0;
    margin: 0%;
    display: flex;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}

.nav_form #nav_busq{
    width: 25rem;
    height: 2.2rem;
    padding: 15px;
    border: none;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}


.nav_form #nav_btnbusq{
    height: 2.2rem;
    width: 3rem;
    border: none;
    color: white;
    background-color: #ED24FE;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
}

.nav_opciones li {
    cursor: pointer;
    padding: 0px 20px;
}

.nav_opciones li:hover {
    color: rgb(183, 180, 180);
    cursor: pointer;
    padding: 0px 20px;
}

/*carrito*/
.detalle-btn{
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.detalle-btn, .container_producto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  
input[type="checkbox"]{
    display: none;
} 
.container_producto{
    display: none;/*none empieza en oculto el popup block lo muestra*/
    background: rgb(255, 255, 255);
    width: 550px;
    height: 550px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}
.fondoneg{
    display: none;
    background-color:rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
}
#detalle:checked ~ .container_producto{
    display: block;
}
#detalle:checked ~ .fondoneg{
    display: flex;
}
.container_producto .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}
.container_producto .close-btn:hover{
    color: #3498db;
}
/*items dentro del carrito*/

.carrito{
    font-size: 24px;
    text-align: center;
}
.productos{
    overflow: auto;
    height: 330px;
    margin: 1rem;
}
.item{
    display: flex;
    margin: 1rem;
    background-color: beige;
    border-radius: 1rem;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}
.imagen{
    border-radius: 1rem;
    width: 115px;
    height: 115px;
}
.item-content{
    
    width: 150px;
    margin: auto;
    text-align: center;
}
.borrar-producto{
    margin: auto;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;padding: 0px 7px;
}
.total{
    text-align: center;
    font-size: 24px;    
}
/*boton pagar*/
.finalizar{
    text-align: center;
}
.pagar {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin: 0.5rem;
    cursor: pointer;
}  
.pagar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0cad2f;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}   
.pagar:hover {
    color: #e8e8e8;
}   
.pagar:hover::before {
    width: 100%;
}